@font-face {
    font-family: 'cmu_typewriter_textLtOb';
    src: url('cmunbto-webfont.eot');
    src: url('cmunbto-webfont.eot?#iefix') format('embedded-opentype'),
         url('cmunbto-webfont.woff2') format('woff2'),
         url('cmunbto-webfont.woff') format('woff'),
         url('cmunbto-webfont.ttf') format('truetype'),
         url('cmunbto-webfont.svg#cmu_typewriter_textLtOb') format('svg');
    font-weight: normal;
    font-style: normal;

}

