@font-face {
    font-family: myFirstFont;
    src: url(../fonts/cmuserif_roman_macroman/cmunrm-webfont.woff);
  }



.LatexTitle{
    font-family: myFirstFont;
    font-size: 40px;
    padding-top: 20%;
    text-align: center;
    margin-bottom: 20px;
}

.LatexName{
    font-family: myFirstFont;
    font-size: 25px;
    text-align: center;
}
.LatexDate{
    font-family: myFirstFont;
    font-size: 25px;
    text-align: center;
}