---
---
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="./assets/css/style.css">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js">
    </script>
  </head>
  <body>
    <div class="Margins">
      <p class="LatexTitle">{{ page.title }}</p>
      {% if page.author %} <p class="LatexName">{{ page.author }}</p> {% endif %}
      {% if page.date %} <p class="LatexDate">{{ page.date }}</p> {% endif %}
      
      {% if page.abstract %}<div class="AbstractMargins">
        <p class="LatexAbstract">Abstract</p>
        <p class="LatexAbstractText">{{ page.abstract }}</p>
      </div>{% endif %}

      
      {{ content }}


    </div>
  </body>
  <footer class="footerSize">

  </footer>
</html>